@model CIIDMMiderm2.Models.MathOperation

<P>
    The Answer you entered is 
    <ul>
        <li>@Model.LeftOperand</li>
        <li>@Model.RightOperand</li>
        <li>@Model.Operator</li>
        <li>@Model.Result</li>
    </ul>
</P>



      